.testimonial-cards-main {
  display: flex;
  gap: 120px;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonial-main-div {
  padding: 40px;
}

.testimonial-main-div h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 100px;
}

.testimonial-cards-main img {
  object-fit: contain;
  margin-right: 30px;
}

.company1-img {
  height: 180px;
  width: 500px;
}

.company2-img {
  height: 180px;
  width: 500px;
}

.company3-img {
  height: 180px;
  width: 500px;
}

.company4-img {
  height: 180px;
  width: 500px;
}

.slider {
  height: 180px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.slider .slide-track {
  animation: scroll 10s linear infinite;
  display: flex;
  width: calc(500px * 20); /* Adjust this based on the number of logos */
}

.slider .slide {
  height: 180px;
  width: 100%;
  flex-shrink: 0; /* Prevent shrinking of slides */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-500px * 9)
    ); /* Translate by half of the total items for a loop */
  }
}

@media screen and (max-width: 900px) {
  .company1-img {
    height: 180px;
  }

  .company2-img {
    height: 120px;
    width: 300px;
  }

  .company3-img {
    height: 160px;
    width: 340px;
  }

  .company4-img {
    height: 160px;
    width: 300px;
  }
}
