

  .testimonial-cards-main{
    display: flex;
    gap: 120px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .testimonial-main-div{
    padding: 40px;
  }
  
  .testimonial-main-div h2{
    text-align: center;
    font-size: 40px;
  }

  .testimonial-main-div p{
    font-size: 20px;
  }

  .testimonial-main-div h4{
    font-size: 25px;
  }
  
  .testimonialContainer {
    background-color: white;
    padding: 20px;
    width: 400px;
    border-radius: 5px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
  }
  
  .testimonial-container{
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    overflow: hidden;

  }

  .testimonial-upper{
    padding: 20px;

  }

.testimonial-sentences{
  max-width: 300px;
}
.testimonial-image{
  width: 80px;
  height: 80px;
  display: inline;
  border-radius: 20px;
}
.checked {
  color: orange;
}

.testimonial-rating{
  margin-bottom: 20px;
}
.testimonial-details{
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px;
  background: #8FF222;
}

.bio{
  display: inline;

}

.bio h3{
  margin: 0;
}

.bio p{
  font-size: 12px;
}
  .testimonialHeader {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .imageContainer {
    background-size: cover;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: grey;
  }
  
  .testimonialBody {
    text-align: justify;
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .iconContainer {
    width: 30px;
    justify-self: end;
    margin-left: auto;
  }
  
  .icon {
    fill: rgb(25, 118, 210);
  }
  
  .nameContainer {
    margin-left: 10px;
    text-align: left;
  }
  
  .testimonialBodyText {
    font-size: 1rem;
    display: inline;
  }
  
  p {
    margin: 0.2rem;
    font-size: 0.9rem;
  }
  
  h4 {
    margin: 0;
  }
  